.custom-hover {
  background-image: linear-gradient(to right, #f1592b, #f1592b 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.custom-hover:before {
  content: '';
  background: #f1592b;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.custom-hover:hover {
  background-position: 0;
}

.custom-hover:hover::before {
  width: 100%;
}
