.hero {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hero::-webkit-scrollbar {
  display: none;
}
.hero img {
  min-height: 600px;
  object-fit: cover;
  object-position: center center;
}

.content {
  top: 40%;
  left: 6%;
  transform: translateY(-50%);
}

@media screen and (max-width: 825px) {
  .hero img {
    min-height: 400px;
    object-position: center left;
  }
  .content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
