@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Lato', 'sans-serif';
}
.customBorder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.middle_header {
  display: grid;
  grid-template-columns: 11.75rem auto 12.375rem;
  gap: 1rem;
}

.shopping_cart_product::-webkit-scrollbar {
  display: none;
}
.shopping_cart_product {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* custom input field */
.inputField {
  border: 1px solid;
  border-radius: 0.375rem;
  appearance: none;
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5rem 0.75rem;
  border-color: rgba(209, 213, 219, 1);
}

.inputLabel {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: rgba(55, 65, 81, 1);
  font-family: 'Fira Sans', sans-serif;
  margin: 4px 0;
}

.accountTitle {
  color: rgba(17, 24, 39, 1);
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 1.5rem;
}

.socialLogin {
  color: rgba(107, 114, 128, 1);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: rgba(255, 255, 255, 1);
  border-width: 1px;
  border-radius: 0.375rem;
  border-color: rgba(209, 213, 219, 1);
  padding: 0.5rem 2rem;
  margin-bottom: 6px;
}

.role_box {
  /* border: 1px solid rgba(128, 128, 128, 0.629); */
  color: gray;
  font-size: 14px;
}
.roleError {
  border: 1px solid rgba(255, 0, 0, 0.689);
}

.roleSuccess {
  border: 1px solid rgba(128, 128, 128, 0.713);
}

body{
  overflow-x: hidden;
}

::selection {
  background-color: #064532;
  color: #ffffff;
}

@media only screen and (max-width: 467px) {
  .addToCart{
    width: 100%;
  }
  .brd-text{
    font-size: 14px;
  }
}